body {
	background: #ffffff;
	margin: auto;
	max-width:1000px;
}

.top {
	background: #A9D9D0;
	border: 3px solid #027373;
	margin: 20px 0px;
	text-align: center;
	color: #0D0D0D
}

.menu, .footer {
	background: #A9D9D0;
	text-align: center;
	border: 3px solid #038C7F;
	color: #0D0D0D
}

.gatunki {
	margin:0px 15px; 
}

a {
	color: #027373;
	font-size: 18px;
}